:root {
    --red: #EE1B24;
    --black: #000000;
    --darkgrey:#919191;
    --lightgrey:#d5d5d5;

}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: SDDystopianDemo;
    src: url(./assets/fonts/Sddystopian.otf);
    font-family: Amuro;
    src: url(./assets/fonts/Amuro.ttf);
}

h1,
h2,
h3,
h4 {
    font-family: SDDystopianDemo;
}

h3 {
    font-size: 48px;
}

h1 {
    font-size: 128px;
    color: var(--red);
    -webkit-text-stroke: 4px #333333;
}

h2 {
    font-size: 64px;
    -webkit-text-stroke: 4px #333333;
}

h4 {
    font-size: 36px;
    color: var(--red);
}

.bigp {
    font-size: 20px;
}

header .container-fluid {

    background-image: url(./assets/Rectangle-3.svg );
    background-repeat: no-repeat;
    height: 1000px;
    background-size: cover;


    & .logo {
        margin: 50px;
        position: relative;
        text-align: left;
    }

    & .logo::after {
        content: " ";
        height: 2px;
        width: 80vw;
        background: black;
        display: block;
        position: absolute;
        top: 50%;
        right: 0
    }

    & .heading {
        margin-top: 25vh;
        margin-left: 6vw;
    }

    .heading-img {
        height: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-left: 53vh;

        & img.risingfreedom {
            height: 87vh;
            margin-top: -16vh;
            margin-right: -6vh;
        }
    }

}

main {
    background-image: url(./assets/Rectangle-4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 380px;

    /* GUNDAM INFO START */
    & .sdgundaminfoimg {
        margin-left: 3vh;
        margin-top: -30vh;

        & img.exia {
            height: 85vh;
        }
    }

    & .paragraph {
        margin-top: 11vh;

        & a {
            color: var(--black);
        }
    }

    /* GUNDAM INFO END */
    /* H4 HR */
    .modelh4 {
        text-align: end;
        margin: 10vh 0vh;
        position: relative;
    }

    .modelh4::after {
        content: " ";
        height: 2px;
        width: 45vw;
        background: black;
        display: block;
        position: absolute;
        top: 50%;
        left: 116%;
    }

    /* BACKGROUND IMG */
    & .imagerow {
        position: relative;

        & img.aerial4 {
            position: absolute;
            z-index: -1;
            filter: blur(11px);
            height: 2070px;
        }
    }

    /* BACKGROUND IMG END */

    /* MODEL SYART */
    & .justify-content-center {
        padding: 2vh;
    }
        /* MODALS START*/
        p.header2 {
            font-size: 20px;
            font-family: SDDystopianDemo;
            color:var(--darkgrey);
        }
        p.headerp {
            font-size: 20px;
        }
        p.header1 {
            font-size: 48px;
            font-family: Amuro;
            color: var(--red);
        }
        .modal-body {
            position: relative;
            flex: 1 1 auto;
            padding: 1rem;
            width: 1000px;
        }
        img.modalpicture {
            height: 470px;
        }
        .modalpicture {
            display: flex;
            justify-content: center;
        }
        .modal-content {
            width: 1000px;
        }
        .modal-dialog.modal-dialog-centered {
            /* margin: 28px 53vh; */
            display: flex;
            justify-content: center;
        }
        a.additional_info_link {
            color: var(--black);
        }
        /* MODALS END */

    /* MODEL END */
    /* COLLECT THEM ALL FOOTER START */
    hr:not([size]) {
        height: 2px;
        background-color: var(--black);
        width: -1vh;
    }
    .collect {
        background-color: var(--black);
        width: 1vw;
    }
    .h3footer {
        color: var(--red);
        margin: 0px;
        padding: 0px;
        align-self:center ;
    }
    .collect {
        background-color: var(--black);
        width: 720px;
        height: 70px;
        display: flex;
        justify-content: center;
        border-radius: 13px;
    }
    .col-12.footer {
        display: flex;
        justify-content: center;
    }
    .col-12.footer {
        display: flex;
        justify-content: center;
        margin: 10px 0px 115px 0px;
    }
}