:root {
    --red: #EE1B24;
    --black: #000000;
    --darkgrey: #919191;
    --lightgrey: #d5d5d5;

}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: SDDystopianDemo;
    src: url(./assets/fonts/Sddystopian.otf);
    font-family: Amuro;
    src: url(./assets/fonts/Amuro.ttf);
}

h1,
h2,
h3,
h4 {
    font-family: SDDystopianDemo;
}

h3 {
    font-size: 48px;
}

h1 {
    font-size: 128px;
    color: var(--red);
    -webkit-text-stroke: 4px #333333;
}

h2 {
    font-size: 64px;
    -webkit-text-stroke: 4px #333333;
}

h4 {
    font-size: 36px;
    color: var(--red);
}

.bigp {
    font-size: 20px;
}

header .container-fluid {

    background-image: url(./assets/Rectangle-3.svg );
    background-repeat: no-repeat;
    height: 1000px;
    background-size: cover;


    & .logo {
        margin: 50px;
        position: relative;
        text-align: left;
    }

    & .logo::after {
        content: " ";
        height: 2px;
        width: 80vw;
        background: black;
        display: block;
        position: absolute;
        top: 50%;
        right: 0
    }

    & .heading {
        margin-top: 25vh;
        margin-left: 6vw;
    }

    .heading-img {
        height: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-left: 53vh;

        & img.risingfreedom {
            height: 87vh;
            margin-top: -16vh;
            margin-right: -6vh;
        }
    }

}

main {
    background-image: url(./assets/Rectangle-4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 380px;

    /* GUNDAM INFO START */
    & .sdgundaminfoimg {
        margin-left: 3vh;
        margin-top: -30vh;

        & img.exia {
            height: 85vh;
        }
    }

    & .paragraph {
        margin-top: 11vh;

        & a {
            color: var(--black);
        }
    }

    /* GUNDAM INFO END */
    /* H4 HR */
    .modelh4 {
        text-align: end;
        margin: 10vh 0vh;
        position: relative;
    }

    .modelh4::after {
        content: " ";
        height: 2px;
        width: 45vw;
        background: black;
        display: block;
        position: absolute;
        top: 50%;
        left: 116%;
    }

    /* BACKGROUND IMG */
    & .imagerow {
        position: relative;

        & img.aerial4 {
            position: absolute;
            z-index: -1;
            filter: blur(11px);
            height: 2070px;
        }
    }

    /* BACKGROUND IMG END */

    /* MODEL SYART */
    & .justify-content-center {
        padding: 2;
    }

    /* MODALS START*/
    p.header2 {
        font-size: 20px;
        font-family: SDDystopianDemo;
        color: var(--darkgrey);
    }

    p.headerp {
        font-size: 20px;
    }

    p.header1 {
        font-size: 48px;
        font-family: Amuro;
        color: var(--red);
    }

    .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
        width: 1000px;
    }

    img.modalpicture {
        height: 470px;
    }

    .modalpicture {
        display: flex;
        justify-content: center;
    }

    .modal-content {
        width: 1000px;
    }

    .modal-dialog.modal-dialog-centered {
        /* margin: 28px 53vh; */
        display: flex;
        justify-content: center;
    }

    a.additional_info_link {
        color: var(--black);
    }

    /* MODALS END */

    /* MODEL END */
    /* COLLECT THEM ALL FOOTER START */
    hr:not([size]) {
        height: 2px;
        background-color: var(--black);
        width: -1vh;
    }

    .collect {
        background-color: var(--black);
        width: 1vw;
    }

    .h3footer {
        color: var(--red);
        margin: 0px;
        padding: 0px;
        align-self: center;
    }

    .collect {
        background-color: var(--black);
        width: 720px;
        height: 70px;
        display: flex;
        justify-content: center;
        border-radius: 13px;
    }

    .col-12.footer {
        display: flex;
        justify-content: center;
    }

    .col-12.footer {
        display: flex;
        justify-content: center;
        margin: 10px 0px 115px 0px;
    }
}

@media only screen and (max-width: 729px) {
    header .container-fluid {
        & .logo {
            display: block;
            text-align: center;

            &::after {
                width: 200px;
            }

            &::before {
                content: " ";
                display: block;
                height: 2px;
                width: 200px;
                position: absolute;
                top: 50%;
                left: 0;
                background: var(--black);
            }
        }

        img.risingfreedom {
            width: 68vw !important;
            position: absolute !important;
            top: 230px !important;
            left: 228px !important;
            height: 68vw !important;
            margin-top: 0vh !important;
            margin-right: 0vw !important;
        }
    }

    h2 {
        font-size: 30px !important;
        margin: 0px !important;
        -webkit-text-stroke: 1px #333333 !important;
    }

    h1 {
        font-size: 40px !important;
        color: var(--red) !important;
        -webkit-text-stroke: 1px #333333 !important;
        margin-top: -14px !important;
    }

    img.exia {
        height: 68vw !important;
        position: absolute !important;
        top: -199px !important;
        z-index: -1 !important;
        left: -2px !important;
        filter: opacity(0.2) !important;
    }

    .col-sm-4 {
        position: relative !important;
    }

    .modelh4::after {
        width: 230px !important;
        left: 0 !important;
    }

    .modelh4::before {
        content: " ";
        height: 2px;
        background: black;
        display: block;
        width: 230px;
        position: absolute;
        top: 50%;
        right: 0%;
    }

    h4 {
        font-size: 25px;
        color: var(--red);
        text-align: center;
    }

    img.aerial4 {
        filter: blur(4px) !important;
        height: 1000px !important;
    }

    .h3footer {
        font-size: 28px !important;
    }

    & .paragraph {
        margin-top: -25vw !important;
    }

    main {
        background-position-y: 270px;
    }

    .collect {
        width: 335px !important;
        height: 50px !important;
    }

    p.header1 {
        font-size: 20px !important;
    }

    p.header2 {
        font-size: 16px !important;
    }

    p.headerp {
        font-size: 18px !important;
    }

    img.modalpicture {
        height: 260px !important;
    }

    .modal-body {
        width: 500px !important;
    }

    & .heading {
        margin-top: 45vw !important;
        margin-left: 6vw !important;
    }
    .modelh4 {   
        margin-top: 20vw !important;
        margin-bottom: 10vw !important;
    }
}